@model  ASP.NET_MVC_3.Models.Blog

<div style="background-color: crimson">
    ID: <span>@Model.Id</span>
    Name: <span>@Model.Name</span>
    BlogAddress: <span>@Model.BlogAddress</span>
    Description: <span>@Model.Description</span>
    <hr style="color: white" />
</div>
